/*
Style sheet for Animal Kingdom, created by Ayo-Oluwa.
*/
body{
	background-color: blue;
	margin: 0;
	padding:0;
}
.header{
	text-align: center;
	padding: 15px;
	color: #fff;
}
h1, button{
	text-transform: uppercase;
}
.line{
	width: 10%;
	border: 1px solid #fff;
	margin: 2px auto 20px;
}
.image{
	background-color: skyblue;
	text-align: center;
}
figure{
	margin: 0;
}
figcaption{
	padding: 10px;
	font-style: italic;
}
.main{
	background-color: #fff;
	padding: 100px;
	text-align: center;
}
h2{
	color: blue;
	margin: 0;
}
button{
	margin-top: 20px; 
	background-color: blue;
	color: #fff;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
button:hover{
	background-color: #fff;
	color: blue;	
}
.footer{
	text-align: center;
	color: #fff;
	margin-bottom: 0;
}
.animal{
	margin: 8px 0 2px;
}
.ayo{
	font-style: italic;
	font-weight: 700;
}
.power{
	font-size: 10px;
	margin-top: 0;
}
.booust{
	background-color: #fff;
	color: blue;
	border-radius: 5px;
	padding: 0 2px;
	font-weight: 700;
}